<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Ref</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <h1 class="hidden">Mail Reference for API Processing</h1>
        <hr class="separator">

        <h2 class="mail-header">Contact Form</h2>

        <form action="../week10/includes/send.php" method="POST" id="mail-form">  <!--post, variable which is used to collect data, it goes to send.php/action-->
            
            
            <label for="firstname">First Name</label>
            <input ref="fname" type="text" id="firstname" name="firstname" required="required">
            <div v-if="ErrorFname">
                <p>Enter your First Name</p>
            </div>


            <label for="lastname">Last Name</label>
            <input ref="lname" type="text" id="lastname" name="lastname" required>
            <div v-if="ErrorLname">
                <p>Enter your Last Name</p>
            </div>


            <label for="email">Email</label>
            <input ref="email" type="email" id="email" name="email" required>
            <div v-if="ErrorEmail">
                <p>Enter a valid Email Id</p>
            </div>


            <label for="message">Your Message</label>
            <textarea ref="message" name="message" id="message" cols="30" rows="10"></textarea>
            <div v-if="ErrorMessage">
                <p>Enter your Message</p>
            </div>


            <label for="phone">Your Phone # <i>(optional)</i></label>
            <input ref="phone" type="tel" value="tel" name="phone">
            
            <div class="wrapper">
                <input @click.prevent="processMail" type="submit" class="submit" value="Go!">
                <i class="fas fa-paper-plane"></i>
            </div>    

            <div class="success" v-if="successMessage">
                <p>your message has been sent succesfully</p>
            </div>
            
        </form>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>