.hidden { display: none; }

$main-bg-color: rgb(241, 175, 135);
$main-color: rgb(203, 77, 4);

$main-font-face: 'arial', 'helvetica', sans-serif;
$main-font-size: 25px;

$heading-color: rgba(177, 71, 18, 0.5);

// quick reset
* {
    border: none;
    padding: 0;
    margin: 0;
}